/* General App Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  font-size: 14px;
}

.App {
  padding: 20px;
}

/* Header Styles */
.header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.title {
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

/* NavBar Styles */
.navbar {
  background-color: #444;
  padding: 10px;
}

.navbar-links {
  list-style-type: none;
  
}

.navbar-links li {
  display: inline-block;
  padding: 5px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

/* Main Content Styles */
main {
  margin-top: 20px;
}

/* List Styles */
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
 
/* Card Styles */
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 200px;
  padding: 10px;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
 
.card h3 {
  font-size: 18px;
}

.card p {
  color: #555;
  font-size: 12px;
}

.chart-container {
  display: flex;
  width: 100%; /* Reduce chart container width */
  margin: 0 auto; /* Center align */
  max-width: 600px;
  justify-content:center;
  align-items:center;
}

.chart {
  max-height: 200px; /* Limit chart height */
}

/* Input and Search Bar Styles */
input[type="text"] {
  margin-bottom: 20px;
  padding: 10px;
  width: calc(100% - 40px);
}


